.card_text{
    margin-top: 3px;
    margin-bottom: 5px;
    /* background-color: green; */
    /* display: inline-block; */
}
.card{
    /* background-color: pink; */
    border: 2px solid black;
    padding: 2px 8px 10px ;
    margin-bottom: 12px;
}
.buttonBox{
    display: flex;
    justify-content: space-around;
}
.buttonBox button{
    width: 30%;
    height: fit-content;
    padding: 2px 2px;
}
.nameContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-right: 10px; */
}
#callBtn{
    width: 20%;
    height: fit-content;
    padding: 2px 2px;
}